#about h2, h3
{

  text-align: center;
}
#about h2,
{
  padding: 10px 0;
}
#about {
  p {
    margin: 0;
    padding: 10px;
  }
  h4
  {
    margin: 0;
    padding: 10px;
  }
  ol
  {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    list-style-type: decimal;
    list-style-position: inside;
  }

}


@include respond-to(mobile-small) {
  .hexagon {
    margin: 30px 0;
  }
}
@include respond-to(mobile-large) {
  .hexagon {
    margin: 30px 10px;
  }
}





@include respond-to(phone-device) {
  .hex-container {
    max-width: 1000px;
    width: 99%;
    margin: 30px auto 0 auto;
    text-align: center;
    a {
      color: $darkGrey;
    }
  }
  .hexagon-outer {
    display: inline-block;
    height: 200px;
    vertical-align: top;
  }
  .hexagon {
    position: relative;
    width: 90px;
    height: 60px;
    background-color: $lightGrey;
    border-left: solid 2px $darkGrey;
    border-right: solid 2px $darkGrey;
  }
  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 63.42px;
    height: 63.42px;
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 12.2893px;
  }

  .hexagon:before {
    top: -32.7107px;
    border-top: solid 2.8284px $darkGrey;
    border-right: solid 2.8284px $darkGrey;
  }
  .hexagon:after {
    bottom: -32.7107px;
    border-bottom: solid 2.8284px $darkGrey;
    border-left: solid 2.8284px $darkGrey;
  }
  .hexagon div {
    position: relative;
    top: 50%;
    transform: translateY(-60%);
    left: 0;
    text-align: center;
    z-index: 2;
  }

  .hex-subheader {
    visibility: hidden;
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
  .hexagon:hover {
    transition: All 0.6s ease;
    cursor: pointer;
    background-color: $darkGrey !important; // hej
    color: white;
  }
  .hexagon-outer {
  //  width: 300px;
  }

}





@include respond-to(large-device) {

  .hex-container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    a {
      color: $darkGrey;
    }
  }
  .hexagon-outer {
    display: inline-block;
    height: 260px;
    vertical-align: top;
  }
  .hexagon {
    position: relative;
    width: 198px;
    height: 100px;
    margin: 70px auto 0 auto;
    color: white;
   background-color: $turq;
    // background-color: $lightGrey;
    // border-left: solid 2px $darkGrey;
    // border-right: solid 2px $darkGrey;
  }
  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 139.42px;
    height: 140.42px;
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 29px;
  }

  .hexagon:before {
    top: -70.7107px;
   // border-top: solid 2.8284px $darkGrey;
   // border-right: solid 2.8284px $darkGrey;
  }
  .hexagon:after {
    bottom: -70.7107px;
   // border-bottom: solid 2.8284px $darkGrey;
   // border-left: solid 2.8284px $darkGrey;
  }
  .hexagon div {
    position: relative;
    top: 50%;
    transform: translateY(-60%);
    left: 0;
    text-align: center;
    z-index: 2;
  }

  .hex-subheader {
    visibility: hidden;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    top: 35px !important;

  }
  .hexagon:hover {
    transition: All 0.6s ease;
    cursor: pointer;
    background-color: $darkGrey !important; // hej
    color: white;
  }
  .hexagon-outer {
    width: 300px;
  }
  .rotate {
    transition: All 0.8s ease;
    cursor: pointer;
    transition-property: transform;
  }
  .hexagon-outer:hover .rotate {
    transform: rotate(180deg);
    .hex-subheader {
      visibility: visible;
      transform: rotate(-180deg) translateY(50%);
      position: relative;
      color: $lightGrey;
      text-align: center;
    }
    .hex-header {
      visibility: hidden;
    }
  }
}
.to-about-me
{
  margin: 20px 0 0 0;
  display: none;
}