#blog article
{
  @extend .text-content;

  a
  {
    color: inherit;
  }
  a:hover
  {
    text-decoration: underline;
  }

}
#blog
{
  .low-dashed
  {
    margin-top: 0 !important;
  }
}


#blog .sub-header
{
  padding: 50px 0 0 0;
}
.blog-post-container
{
  display: block;
  margin-top: -40px;
  padding-bottom: 40px;
}
.dark-blog-post
{
  background-color: $grey;
  color: white;

  .comment-toggle
  {
    border: 2px dashed white;
  }
  .comment-toggle:hover
  {
    border: 2px dashed transparent;
    background-color: $lightGrey;
    color: $darkGrey;
  }
  .dashed-line-divider
  {
    border-bottom: 2px dashed white;
  }
}




/*=================================================
            BLOGG BILDER!
 =================================================*/
.blog-image-container
{
  width: 80%;
  max-width: 640px;
  min-width: 292px;
  margin: 0 auto;
  display: block;
}
.blog-image
{

  cursor: pointer;
  position: relative;
  margin: 25px auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 34% 0;
  max-width: 700px;
}
.bright-blog-post // Så att den mörka bloggcontainer inte får den konstiga ljusa skuggan
{
  .blog-image, .blog-image-caption
  {
    @extend .subtle-shadow;
  }
}




@include respond-to(phone-device) {
  .blog-image
  {
    cursor: pointer;
    position: relative;
    margin: 25px auto 55px auto;
  }
  .blog-image-caption
  {
    opacity: 1;
    @extend .flex-center;
    color: white;
    position: absolute;
    bottom:-30px;
    height: 30px;
    width: 100%;
    background-color: $grey;
  }
  .dark-blog-post
  {
    .blog-image-caption
    {
      background-color: $lightGrey;
      color: $darkGrey;
    }
  }
  .blog-image:hover
  {
    .blog-image-caption
    {
      opacity: 1;
    }
  }
}
@include respond-to(large-device) {
  .blog-image-caption
  {
    opacity: 0;
    @extend .fast-trans;
    @extend .flex-center;
    color: white;
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
    background-color: $transGrey;
  }

  .blog-image:hover
  {
    .blog-image-caption
    {
      opacity: 1;
    }
  }
}
/*=================================================
            Blog-Labels
=================================================*/

.blog-label
{
  display: inline-block;
  margin: 5px 20px 10px 30px;
  position: relative;
  padding: 13px 15px 13px 0;
  text-decoration: none !important;
  &:after
  {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
}

.category-label-container
{
  @extend .text-content;
  margin: 30px auto 0 auto;
  .blog-label {

    color: white !important;
    background-color: $grey;
    $var: 23px;
    &:after {
      @extend .fast-trans;
      right: 100%;
      top: -$var;
      border-right-color: $grey;
      border-width: $var;
      margin-top: $var;
    }
    &:hover
    {
      background-color: white;
      color: $grey  !important;

      &:after
      {
        border-right-color: white;
      }
    }
  }
}
.blog-info-container
{
 width: 315px;
   margin: 10px auto 0 30px;



  .blog-label {
    color: white !important;
    background-color: $grey;
    margin: 5px 0;
    &:after {
      @extend .fast-trans;
      right: 100%;
      top: 32px;
      border-right-color: $grey;
      border-width: 32px;
      margin-top: -32px;
    }
    &:hover
    {
      background-color: white;
      color: $grey  !important;

      &:after
      {
        border-right-color: white;
      }
    }
  }
}
@include respond-to(mobile-small) {
  .blog-info-container {



    margin: 10px auto 0 auto;

    .blog-label {

      margin-left: 50px;
      $big-label-mobile: 32px;
      &:after {
        @extend .fast-trans;
        right: 100%;
        top: $big-label-mobile;
        border-right-color: $grey;
        border-width: $big-label-mobile;
        margin-top: -$big-label-mobile;

      }
    }
  }

  .category-label-container
  {
    margin: 30px auto 0 auto;
    $small-label-mobile: 22.95px;
    .blog-label {

      &:after {
        top: $small-label-mobile;
        border-width: $small-label-mobile;
        margin-top: -$small-label-mobile;
      }

    }
  }


}




.dark-blog-post .category-label-container, .dark-blog-post .blog-info-container
{
  .blog-label
  {
    color: $darkGrey !important;
    background-color: $lightGrey;

    &:after
    {
      border-right-color: $lightGrey;
    }
    &:hover
    {
      background-color: $darkGrey;
      color: white  !important;
      &:after
      {
        border-right-color: $darkGrey;

      }
    }


  }

}



.blog-post-container article a
{
  text-decoration: underline;
  font-size: 1em;
}
.blog-post-container article a:hover
{
  color: $green !important;
}





/*=================================================
              KOMMENTARS SEKTION
 =================================================*/
.comment-toggle
{
  margin: 30px auto 0 auto;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.comment-toggle:hover
{
  border: 2px solid transparent;
}
.comment-section
{
  display: none;
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
}
.form-container
{
margin: 0 auto;
width: 100%;
  max-width: 600px;
//min-width: 300px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea
{
  height: 200px;
  resize: none;
}
form
{
  width: 100%;
//  background-color: blue;
  color: $darkGrey;
  text-align: center;
  margin: 0 auto;
}


input
{
  height: 50px;
}

input, textarea
{
  border: 1px solid $mediumGrey;
  padding: 0;
  margin-bottom: 15px;
  display: block;
  width: 99%;
}



button[type="submit"]
{
  transition: all 0.3s ease;
  position: relative;
  width: 99%;
  padding: 2px;
  height: 50px;
  background: white;
  border: 1px solid $mediumGrey;
  color: $darkGrey;
  span
  {
    position: absolute;
    bottom: 2px;
    right: 20px;
    font-size: 30px;
    color: inherit;
  }

  &:hover
  {
    color: $lightGrey;
    background: $darkGrey;
  }
}
@include respond-to(phone-device)
{
  input[type="text"]
  {
 //   width: 99%;
  }
}



.dark-blog-post
{

  box-shadow: 0 -2px 10px rgba(0, 0, 0, .7);

  button[type="submit"]
  {
    border: 1px solid $darkGrey;
    color: $darkGrey;
    &:hover
    {
      border: 1px solid white;
      color: white;
      background: $grey;
    }
  }
}

@include respond-to(phone-device) {

  .dashed-line-divider
  {
    margin: 30px auto 0 auto;
  }
}
