/*=================================================
 Form-Container
 =================================================*/
.footer-form-outer-container
{
  background-color: $lightGrey;
}

.footer-form-container
{
  width: 90%;
  .check-list-container
  {
    color: white;
    .left-check-item, .right-check-item
    {
      float: left;
     // vertical-align: top;
    }
    .left-check-item
    {
      width: 6%;
    }
    .right-check-item
    {
      width: 94%;
    }
  }

  label
  {
    float: left;
  }

  h2, p, li, label
  {
    color: $grey;
  }
  form
  {
    input
    {
      width: 99%;
    }
    textarea
    {
      width: 99%;

    }
   }
  button
  {
    //padding: 0;
    border: 1px solid $grey;
    background-color: $lightGrey;
    width: 100%;
  }
}


.contact-info-container
{
  color: white;
  background-color: $grey;
}
.map-content, #map-canvas
{
  width: 100%;
}
/*=================================================
 Contact-Container
 =================================================*/
.contact-info-container
{
  a{
    color: white;
  }
}
.contact-icon-container
{
  a
  {
    font-size: 22px;
    display: block;
    margin: 20px 0;
  }
  i
  {
    margin-right: 10px;
  }
}
@include respond-to(large-device) {

  .socialmedia-icon-container
  {
    a i {

    transition: all 0.4s ease;
    &:hover
    {
      transform: scale(1.3) rotate(360deg);
    }
  }
}
}
@include respond-to(phone-device) {

  .footer-form-container
  {
    input
    {
      width: 95% !important;
    }
    button
    {
      width: 101%;
    }

  }


  .socialmedia-icon-container
  {
    a i {

      transition: all 0.4s ease;
      &:hover
      {
        color: grey;
      }
    }
  }
}

@include respond-to(mobile-small) {



  .contact-info-container-inner
  {
    width: 90%;
  }

  .socialmedia-icon-container
  {
    margin: 50px auto 0 auto;
  }
  .socialmedia-icon
  {
    font-size: 40px;
  }

  .middle-row-icon
  {
    margin: 30px 25% 0 25%;
  }


  .contact-icon
  {
    font-size: 30px;
  }

  .contact-info-container
  {
    @extend .flex-center;

    height: 410px;
    a
    {
      font-size: 19px;
    }
  }
  .map-content
  {
    background-color: $grey;
  }
  #map-canvas
  {
    width: 90%;
    margin: 0 auto;
    height: 320px;
  }
}

@include respond-to(mobile-large) {
  .contact-info-container-inner
  {
    width: 90%;
  }

  .socialmedia-icon-container
  {
    margin: 50px auto 0 auto;
  }
  .socialmedia-icon
  {
    font-size: 40px;
  }
  .contact-icon
  {
    font-size: 30px;
  }
  .contact-info-container
  {
    @extend .flex-center;

    height: 400px;
  }
  .map-content
  {
    background-color: $grey;
  }
  #map-canvas
  {
    width: 90%;
    margin: 0 auto;
    height: 350px;
  }
}
@include respond-to(tablet) {

  .footer-form-container {
    width: 90%;
    max-width: 650px;
    margin-top: 30px;
  }

  .socialmedia-icon-container
  {

    margin-top: 50px;
  }

  .socialmedia-icon
  {
    font-size: 40px;
    margin: 20px 70px 0 0;
  }
  .contact-icon
  {
    font-size: 30px;
  }
  .contact-info-container
  {
    @extend .flex-center;
    height: 400px;
  }
  .map-content
  {
    background-color: $grey;
  }
  #map-canvas
  {
    width: 97%;
    margin: 0 auto;
    height: 400px;
  }
}
@include respond-to(desktop) {
  .footer-form-outer-container
  {
    background-color: $lightGrey;
    height: 1150px;
  /*  position: relative;

    &:after
    {
      left: 100%;
      top: 25%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-left-color: $lightGrey;
      border-width: 20px;
      margin-top: -20px;

    }*/

  }

  .footer-form-container {
    width: 90%;
    max-width: 550px;
    margin-top: 30px;
  }
  .contact-info-container-inner
  {
    padding-top: 30px;
   // background-color: red;
    width: 80%;
    margin: 0 auto;
  }
  .socialmedia-icon-container
  {
    margin-top: 160px;
  }
  .socialmedia-icon
  {
    font-size: 40px;
    margin: 20px 5% 0 0;
  }

  .contact-icon
  {
    font-size: 30px;
  }
  .contact-info-container
  {
    height: 575px;
  }
  #map-canvas
  {
    width: 100%;
    height: 575px;
  }
}











/*=================================================
 GOOGLE MAPS
 =================================================*/
.map-content
{
  display:block;
}




a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display:none;
}
.gmnoprint div {
  background:none !important;
} // Tar bort copyright + Google loggan från kartan

#zoomInButton, #zoomOutButton
{
  background: $grey;
  color: white;
  display:flex;
  justify-content:center;
  align-items:center;
  width: $zoomButtonSize;
  height: $zoomButtonSize;
  @extend .fast-trans;
}
#zoomInButton:hover, #zoomOutButton:hover
{
  background: $lightGrey;
  color: $darkGrey;
  cursor: pointer;
}
#zoomInButton:active, #zoomOutButton:active
{
  background: white;
}
#zoomInButton
{
  font-size: 26px;
}
#zoomOutButton
{
  font-size: 38px;
}


.copy
{
  background-color: $grey;
  color: $lightGrey;

  p
  {
    padding: 10px 0 10px 0;
  }

}
