/*=================================================
HEADER
==================================================*/
.header-background
{
  background: url(../images/mountains.jpg) center center;
  margin: 0 auto;
  width: 100%;
  height: 900px;
  background-color: $grey;
  background-repeat: no-repeat;
  background-size: cover;
  @extend .flex-center;


  font-size: 30px;
  color: white;
}
@include respond-to(phone-device) {
  .header-background {
    height: 700px;
  }
}
@media (min-width: 1px) and (max-width: $desktop-break) {
 .name-container
 {
   display: none !important;
 }

}

.header-content
{
  min-width: 300px;
  width: 70%;
  text-align: center;
  float: left;
  .white-btn
  {
    margin: 0 auto;
  }

  h1
  {
    font-size: 26px;
  }
  p, h1
  {
    margin: 10px auto;
    max-width: 400px;
    background-color: white;
    padding: 10px;
    color: $grey;
  }

}




.portrait
{
  background-size: 100%;

  cursor: pointer;
  margin: 0 auto;
  display: block;
  height: 240px;
  width: 240px;
  border-radius: 50%;
  background: url(../images/villePortrait.jpg) center center;
  background-size: 100%;
  @extend .fast-trans;
}

@include respond-to(phone-device) {
  .portrait
  {
 height: 180px;
 width: 180px;
  }
}
@include respond-to(large-device) {
  .portrait
  {
    height: 210px;
    width: 210px;
  }
  .portrait:hover
  {
    background-size: 110%;
  }
}


.nav-container
{
  .underline-link
  {
    font-size: 18px;
  }
  .underline-link:before {
    background-color: white;
  }
  .underline-link:hover {
    color: darken(white, 10%);
  }
}
.header-btn
{
  @include respond-to(phone-device)
  {
    .white-btn
    {
      max-width: 340px;
      font-size: 16px;
    }
  }
  @include respond-to(large-device)
  {
    .white-btn
    {
      max-width: 340px;
      font-size: 20px;
    }
  }
}

@include respond-to(phone-device)
{
  .header-content
  {
  h1
  {
    font-size: 20px;
  }
  p
  {
    font-size: 16px;

  }
  p, h1
  {
    margin: 10px auto;
  }

  }
}


@include respond-to(desktop) {

  .header-content {
    min-width: 300px;
    width: auto;
    text-align: center;
  }

    .menu-button-wrapper {
    display: none;
  }
  .nav-container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
    ul {
      margin: 0;

    }
    li {
       // padding:20px 0;

      display: inline-block;
      vertical-align: top;
      list-style-type: none;
      a {
        display: inline-block;
        cursor: pointer;
        padding: 18px 45px;
        color: white;
        font-size: 18px;
        &:hover
        {
          color: lighten($grey,20%);
        }
      }

      :not(.chosen)
      {
        background-color: $grey;

      }




    }
  }
  .chosen {

    background-color: white;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
    color: $darkGrey !important;
  }
  .chosen:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: $grey;
    height: 4px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .chosen:hover:before, .chosen:focus:before, .chosen:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }



  .nav-background
  {
  background-color: $darkGrey;
  }

  .nav-container-inner
  {
    position: relative;
  }

  .name-container
  {
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
    font-size: 20px;
    float: right;
  }

  .desktop-menu-background
  {
    display: none;
    position: fixed;
    width: 100%;
    height: 58px;
  background-color: $grey;
  }

  .portrait
  {
    position: absolute;
    top: 20px;
    right: 20px;
  }

}