/*=================================================
 HJÄLPKLASSER!
 =================================================*/
a
{
  text-decoration: none;
}
.flex-center /* CENTRERA VERTIKALT OCH HORISONTELLT */
{
  display:flex;
  justify-content:center;
  align-items:center;
}
.center
{
  margin: 0 auto;
  text-align: center;
}
.x-small-text
{
  font-size: 12px;
}
.medium-text
{
  font-size: 24px;
}
.small-text
{
  font-size: 20px;
}

.max-width-content
{
  max-width: 1600px;
}
.text-content
{
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
}
.inline-block
{
  display: inline-block;
}
.width-90
{
  width: 90%;
  margin: 0 auto;
}
.overflow-hidden
{
  width: 100%;
  overflow: hidden;
}

.fast-trans
{
  transition: all 0.2s ease;
}
.medium-trans
{
  transition: all 0.4s ease;

}
.slow-trans
{
  transition: all 0.6s ease;
}
.space-100
{
  width: 100%;
  height: 100px;
}
.space-50
{
  width: 100%;
  height: 50px;
}
.space-20
{
  width: 100%;
  height: 20px;
}
.clear
{
  clear: both;
}
.blue
{
  background-color: $blue;
}
.red
{
  background-color: $red;
}
.purple
{
  background-color: $purple;
}
.blue
{
  background-color: $blue;
}
.green
{
  background-color:$green;
}
.beige
{
  background-color: $beige;
}

/*=================================================
 BREAKPOINTS VISA/DÖLJ
 =================================================*/

@media (min-width: 1px) and (max-width: $mobile-large-break)
{
 .hide-mobile-small
 {
   display: none;
 }
}

@media (min-width: 1px) and (max-width: 767px)
{
  .small-dev-show
  {
    display: block;
  }
  .large-dev-show
  {
    display: none;
  }
  .tab-show-only
  {
    display: none;
  }
  .desk-show-only
  {
    display: none;
  }
  .desk-hide
  {
    display: block;

  }
}
@media (min-width: 768px) and (max-width: 1023px)
{
  .small-dev-show
  {
    display: none;
  }
  .large-dev-show
  {
    display: none;
  }
  .desk-hide
  {
    display: block;

  }
  .desk-show-only
  {
    display: none;
  }
  .tab-show-only
  {
    display: block;
  }
}
@media (min-width: 1024px)
{

  .desk-hide
  {
    display: none;

  }

  .small-dev-show
  {
    display: none;
  }
  .large-dev-show
  {
    display: block;
  }
  .desk-show-only
  {
    display: block;
  }
  .tab-show-only
  {
    display: none;
  }
}





