/*
=== === === === ===
1. BASE: Applies to HTML, no class/ID selectors
2. LAYOUT: Big page sections: .header, .sidebar. .footer etc.
3. MODULE: encapsulated modules, re-usable. Eg. buttons, images, boxes etc.
4. STATE: Overrides defaults - eg. .is-opened
=== === === === ===
*/
/*=================================================
 GENERAL
 =================================================*/

@font-face {
  font-family: adelle;
  src: url(../fonts/adelle-normal.ttf);
}
body
{
 font-family: "adelle", sans-serif;

 // font-family: 'Josefin Slab', serif;
  font-weight: 700;
  letter-spacing: 0.1px;
  font-weight: 300;
  background-color: $darkGrey;
  color: $darkGrey;
  //overflow: hidden;

 // overflow-y: scroll;

}
*
{
  outline: none;
}

.container
{
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
a
{
  text-decoration: none;
  @extend .fast-trans;
}

/*=================================================
HEADER
==================================================*/
.header-content
{
  min-width: 300px;
  width: 70%;
 // max-width: 400px;
  text-align: center;

  h1
  {
    font-size: 30px;
  }
}

.portrait
{
  margin: 0 auto;
  display: block;
  height: 240px;
  width: 240px;
  border-radius: 120px;
  background: url(../images/villePortrait.jpg) center;
}


.parallax
{
  box-shadow: 0 -2px 10px rgba(0, 0, 0, .7);
}

.first-background-divider
{
  background: url(../images/ny.jpeg) no-repeat center center; //
  background-size: cover;
  width: 100%; //
}
.second-background-divider
{
  background: url(../images/skate.jpeg) no-repeat center center; //
  width: 100%; //
  background-size: cover;

}
.third-background-divider
{
  background: url(../images/niceStuff.jpg) no-repeat center center; //
  background-size: cover;
  width: 100%;
}
.fourth-background-divider
{
  background: url(../images/citybackground.jpg) no-repeat center center; //
  background-size: cover;
  width: 100%;
}
@include respond-to(phone-device) {
  .first-background-divider, .second-background-divider, .third-background-divider, .fourth-background-divider
  {
    height: 300px;
  }
}



@include respond-to(large-device) {
  .first-background-divider, .second-background-divider, .third-background-divider, .fourth-background-divider
  {
    background-attachment: fixed;
    height: 450px;
  }
}




