::-webkit-scrollbar {
  width: 8px;
  background: $darkGrey;
}
::-webkit-scrollbar-thumb {
  background: $lightGrey;
}
/*=================================================
 TEXT-ALIGNMENT
 =================================================*/
.light-striped-background
{
  background: repeating-linear-gradient(
   135deg,
   white,
   lighten($lightGrey,3%) 1px,
   lighten($lightGrey,3%) 2px,
   white 4px
  );
}
.dark-striped-background
{
  background: repeating-linear-gradient(
                  135deg,
                  black,
                  $darkGrey 1px,
                  $darkGrey 2px,
                  black 4px
  );
}
/*=================================================
 STRIPED BACKGROUND
 =================================================*/

@media (min-width: 767px) {

  .large-device-left-text
  {
    // text-align: left;
  }
  .large-device-right-text
  {
    // text-align: right;
  }
}
/*=================================================
  ARROWS
=================================================*/

@media (min-width: $desktop-break+1){ // Hack för att den inte ska komma med i mobilläge
  .right-arrow
  {
    position: relative;
    &:after
    {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      border-left-color:  $stripedGrey;
      border-width: 30px;
      margin-top: -30px;
    }
  }
  .left-arrow
  {
    position: relative;
    &:after
    {
      right: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      border-right-color: $stripedGrey;
      border-width: 30px;
      margin-top: -30px;
    }
  }
}
@media (min-width: 1px) and (max-width: $desktop-break) {
  .down-arrow {
    &:after {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: $stripedGrey;
      border-width: 30px;
      margin-left: -30px;
    }
  }
}
.right-arrow-flex
{
  position: relative;
  &:after
  {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-left-color:  $stripedGrey;
    border-width: 30px;
    margin-top: -30px;
  }
}
.left-arrow-flex
{
  position: relative;
  &:after
  {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-right-color: $stripedGrey;
    border-width: 30px;
    margin-top: -30px;
  }
}
/*=================================================
  SECTION GENERELLA REGLER
 =================================================*/
.section-header
{
  text-align: center;
  color: $darkGrey;
  margin: 0;
  font-size: 35px;
  font-weight: 400;
  padding: 30px 0;
}
.sub-header
{
  font-size: 22px;
  text-align: center;
  margin: 40px 0;
}
.section-light-grey
{
 // background-color: w;
  background-color: $lightGrey;
}
.arrow-hole
{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: $lightGrey;
}
.arrow-hole:after
{
  left: 50%;
  border-bottom: 20px solid $lightGrey;
  border-left: 20px solid transparent;
  content: '';
  position: absolute;
  bottom: 100%;
  width: 50%;
  box-sizing: border-box;
}
.arrow-hole:before
{
  right: 50%;
  border-bottom: 20px solid $lightGrey;
  border-right: 20px solid transparent;
  content: '';
  position: absolute;
  bottom: 100%;
  width: 50%;
  box-sizing: border-box;
}

.dashed-line-divider
{
  margin: 40px auto 0 auto;
  min-width: 280px;
  width: 60%;
  max-width: 700px;
  height: 1px;
  border-bottom: 2px dashed $darkGrey;
}


/*=================================================
  NAV BAR-LÄNKAR!
 =================================================*/
.nav-container {
  z-index: 999;

}
.underline-link {
  cursor: pointer;
  transition: all 0.2s ease;
  text-decoration: none;
  position: relative;
}
.underline-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.underline-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.underline-link:hover {
// SÄTT FÄRG HÄR
}


/*================================================
 =================================================
 **************************************************
                 GRIDS + GUTTERS!
 *************************************************
 =================================================
 =================================================*/
[class*="col"] {
  float: left;
}

/*=================================================
 LITEN-TELEFON - UPP TILL 400px
 =================================================*/

@include respond-to(mobile-small) {
  .col-12-ms
  {
    width: percentage(12/12);
  }
  .col-11-ms
  {
    width: percentage(11/12);
  }
  .col-10-ms
  {
    width: percentage(10/12);
  }
  .col-9-ms
  {
    width: percentage(9/12);
  }
  .col-8-ms
  {
    width: percentage(8/12);
  }
  .col-7-ms
  {
    width: percentage(7/12);
  }
  .col-6-ms
  {
    width: percentage(6/12);
  }
  .col-5-ms
  {
    width: percentage(5/12);
  }
  .col-4-ms
  {
    width: percentage(4/12);
  }
  .col-3-ms
  {
    width: percentage(3/12);
  }
  .col-2-ms
  {
    width: percentage(2/12);
  }
  .col-1-ms
  {
    width: percentage(1/12);
  }

  .gtr-row:first-child
  {
    margin: $ms-gtr $ms-gtr 0 $ms-gtr;
  }
  .gtr-row:last-child
  {
    margin: 0 $ms-gtr $ms-gtr  $ms-gtr;
  }
  .gtr-row
  {
    margin: 0 $ms-gtr;
  }
  .gtr{
    padding:0;
    margin:0;

    > div{
      margin:$ms-gtr;
      min-height: $ms-gtr-min-h;
    }
  }
}
/*=================================================
 STOR-TELEFON - UPP TILL 768px
 =================================================*/

@include respond-to(mobile-large) {
  .col-12-ml
  {
    width: percentage(12/12);
  }
  .col-11-ml
  {
    width: percentage(11/12);
  }
  .col-10-ml
  {
    width: percentage(10/12);
  }
  .col-9-ml
  {
    width: percentage(9/12);
  }
  .col-8-ml
  {
    width: percentage(8/12);
  }
  .col-7-ml
  {
    width: percentage(7/12);
  }
  .col-6-ml
  {
    width: percentage(6/12);
  }
  .col-5-ml
  {
    width: percentage(5/12);
  }
  .col-4-ml
  {
    width: percentage(4/12);
  }
  .col-3-ml
  {
    width: percentage(3/12);
  }
  .col-2-ml
  {
    width: percentage(2/12);
  }
  .col-1-ml
  {
    width: percentage(1/12);
  }

  .gtr-row:first-child
  {
    margin: $ml-gtr $ml-gtr 0 $ml-gtr;
  }
  .gtr-row:last-child
  {
    margin: 0 $ml-gtr $ml-gtr  $ml-gtr;
  }
  .gtr-row
  {
    margin: 0 $ml-gtr;
  }
  .gtr{

    margin:0;
    > div{
      margin:$ml-gtr;
      min-height: $ml-gtr-min-h;
    }
  }
}
/*=================================================
 PLATTA - UPP TILL 1024px
 =================================================*/

@include respond-to(tablet) {
  .col-12-tab
  {
    width: percentage(12/12);
  }
  .col-11-tab
  {
    width: percentage(11/12);
  }
  .col-10-tab
  {
    width: percentage(10/12);
  }
  .col-9-tab
  {
    width: percentage(9/12);
  }
  .col-8-tab
  {
    width: percentage(8/12);
  }
  .col-7-tab
  {
    width: percentage(7/12);
  }
  .col-6-tab
  {
    width: percentage(6/12);
  }
  .col-5-tab
  {
    width: percentage(5/12);
  }
  .col-4-tab
  {
    width: percentage(4/12);
  }
  .col-3-tab
  {
    width: percentage(3/12);
  }
  .col-2-tab
  {
    width: percentage(2/12);
  }
  .col-1-tab
  {
    width: percentage(1/12);
  }

  .gtr-row:first-child
  {
    margin: $tab-gtr $tab-gtr 0 $tab-gtr;
  }
  .gtr-row:last-child
  {
    margin: 0 $tab-gtr $tab-gtr  $tab-gtr;
  }
  .gtr-row
  {
    margin: 0 $tab-gtr;
  }

  .gtr{
    // width:25%;
    // float:left;
    padding:0;
    margin:0;
    > div{
      margin:$tab-gtr;
      min-height: $tab-gtr-min-h;
    }
  }
}
/*=================================================
 Dator - STÖRRE ÄN 1024px
 =================================================*/
@include respond-to(desktop) {
  .col-12-desk
  {
    width: percentage(12/12);
  }
  .col-11-desk
  {
    width: percentage(11/12);
  }
  .col-10-desk
  {
    width: percentage(10/12);
  }
  .col-9-desk
  {
    width: percentage(9/12);
  }
  .col-8-desk
  {
    width: percentage(8/12);
  }
  .col-7-desk
  {
    width: percentage(7/12);
  }
  .col-6-desk
  {
    width: percentage(6/12);
  }
  .col-5-desk
  {
    width: percentage(5/12);
  }
  .col-4-desk
  {
    width: percentage(4/12);
  }
  .col-3-desk
  {
    width: percentage(3/12);
  }
  .col-2-desk
  {
    width: percentage(2/12);
  }
  .col-1-desk
  {
    width: percentage(1/12);
  }
  .gtr-row:first-child
  {
    margin: $desk-gtr $desk-gtr 0 $desk-gtr;
  }
  .gtr-row:last-child
  {
    margin: 0 $desk-gtr $desk-gtr  $desk-gtr;
  }
  .gtr-row
  {
    margin: 0 $desk-gtr;
  }
  .gtr{
    padding:0;
    margin:0;
    > div{
      margin:$desk-gtr;
      min-height: $desk-gtr-min-h;
    }
  }
}
.row
{
  width: 100%;
}
.row:after
{
  clear: both;
}
[class*="col"] {
  //float: left;
}
.gtr-row:before,
.gtr-row:after {
  content: " "; /* 1 */
  display: block; /* 2 */
}
.gtr-row:after {
  clear: both;
}
.gtr-row {
  *zoom: 1;
}
.gtr{
  background:white;
  > div{
    font-size: 14px;
    background:$darkBlue;
    color: $beige;
  }
}
/*=================================================
  SKUGGOR
 =================================================*/

.box-shadow
{
  box-shadow: 0px 0px 15px 2px grey;
}
.subtle-shadow
{
  box-shadow: -4px 4px 10px #888888;

}




/*=================================================
 KNAPPAR!
 =================================================*/


/*.btn
{
  margin: 20px auto;
  cursor: pointer;
  height: 50px;
  width: 250px;
  @extend .flex-center;
  @extend .medium-trans;
}
.light-btn
{
  border: 1px solid $grey;
  color: $grey;
}
.light-btn:hover {
  background-color: $grey;
  color: $lightGrey;
}
.dark-btn
{
  background-color: $grey;
  border: 1px solid $grey;
  color: $lightGrey;
}
.dark-btn:hover {
  background-color: transparent;
  color: $grey;
}*/

.btn
{
  display: block;
  text-align: center;
  max-width: 180px;
  padding: 17px 45px;
  border-radius: 8px;
  border: 1px solid $darkGrey;
}
.dark-btn
{
  background-color: $grey;
  border: 1px solid $grey;
  color: $lightGrey;
}
.dark-btn:hover {
  background-color: $lightGrey;
  color: $grey;
}
.dark-btn:active {
  @extend .box-shadow;

  background-color: lighten($darkGrey,5%);
  color: $lightGrey;

}
/*=================================================
 PORTFOLIO FLEX!
 =================================================*/

.flex-row {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  @extend .max-width-content;
}

.flex-item {
  // color: white;
  text-align: center;
  width: 50%;
  flex-flow: row wrap;
  flex-direction: column;
}
@media (min-width:1px) and (max-width: $desktop-break) {
  .flex-item {
    flex: 1 100%;
  }
  .port-desc-container { order: 1; }
  .port-image-container    { order: 2; }
}

/*=================================================
 VIEWPORT INFO!
 =================================================*/
.device-info-container
{
  @extend .flex-center;
  font-size: 14px;
  color: white;
  background-color: $darkGrey;
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0;
}
/*=================================================
 FLIP - RELATED
 =================================================*/

.flip-parent
{
  position: relative;
  perspective: 1200px;
  vertical-align: baseline;
  margin-bottom: -0px;
}
.flip
{
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  /* transform-origin: center bottom; */
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  scale:(1);
  transform:  translateY(0px);
 // @extend .flex-center;
}
.flip:before {
  //position: absolute;
  width: 100%;
  text-align: center;
  top: 20px;
  z-index: 2;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #6a7083;
}
@media (min-width: 1px) and (max-width: $desktop-break)
{
  .flip
  {
    opacity: 1 !important;
    transform: translateY(0px) rotateX(0deg) !important;
  }
}



/*=================================================
 RIBBONS (Som exempelvis används på tidslinjen
 =================================================*/

.ribbon {
  min-width: 240px;
  width: 80%;
  max-width: 320px;
  height: 40px;
  position: relative;
  background: $red;
  color: #fff;
  text-align: center;
  padding-top: 5px;
  margin: 10px auto 30px auto; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before, .ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -16px;
  border: 20px solid darken($red,2%);
  z-index: -1;
}
.ribbon:before {
  left: -28px;
  border-right-width: 1.5em;
  border-left-color: transparent;
}
.ribbon:after {
  right: -28px;
  border-left-width: 1.5em;
  border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #cb382a transparent transparent transparent;
  bottom: -16px; // 16px i det här fallet är 1em
}
.ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}
.ribbon-space
{
  width: 100%;
  height: 1px;
}
/*=================================================
  DE STYLIGA CIRKLARNA
 =================================================*/
$big-circle-size: 300px;
$small-circle-size: 180px;
$inner-circle-size: 280px;
.dashed-circle
 {
   cursor: pointer;
   @extend .flex-center;
   @extend .fast-trans;
   border: 2px dashed $darkGrey;
 }
.large-circle
{
  height: $big-circle-size;
  width: $big-circle-size;
  border-radius: $big-circle-size/2;
}
.small-circle
{
  height: $small-circle-size;
  width: $small-circle-size;
  border-radius: $small-circle-size/2;
}


.dashed-circle:hover
{
  background-color: $transGrey;
  color: $lightGrey;
}

.outline-circle
{
  @extend .flex-center;
  height: $big-circle-size;
  width: $big-circle-size;
  border-radius: $big-circle-size/2;
  border: 2px solid $darkGrey;
  > div
  {
    @extend .flex-center;
    height: $inner-circle-size;
    width: $inner-circle-size;
    border-radius: $inner-circle-size;
    background-color: $darkGrey;
    color: white;
  }
}
/*=================================================
  SNURRA INFINITE
 =================================================*/
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

/*=================================================
  BOUNCE
 =================================================*/

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-2px);
  }
  60% {
    transform: translateY(-10px);
  }

  40% {
    transform: translateY(-5px);
  }


}
.bounce {
  animation: bounce 2.5s infinite;
}
@include respond-to(large-device)
{
  .arrow-up-container
  {
    @extend .bounce;
  }
}


/*=================================================
  IKONER
 =================================================*/
.up-arrow
{
  display: block;
  transform: rotate(270deg);
}
