/*=================================================
  PORTFOLIO
 =================================================*/



.port-desc-container
{

  color: $darkGrey;
  > div
  {
   // @extend .shadow-bottom;
    text-align: left;
    min-width: 300px;
    width: 90%;
    max-width: 600px;
  }
}
.port-link-btn
{
  margin: 0 auto;
  max-width: 200px;
}

.port-head-container, .port-desc-container, .port-image-container
{
  @extend .flex-center;
}
.port-image-inner
{
  width: 100%;
  position: relative;
}
.macbook-image
{
  margin: 0 auto;
  background: url(../images/macbook-flat.png) center center no-repeat;
  width:80%;
  overflow: hidden;
  background-size: 100%;
  max-width: 700px;
  @extend .flex-center;
}
.port-screenshot
{
  position: relative;
  background: center center no-repeat;
  width:100%;
  background-size: 76.5%;
  margin-bottom: 3%;
  max-width: 700px;
}

.port-overlay
{
  background: rgba(0,0,0,0.3);
  width:100%;
  background-size: 68.9%;
  margin-bottom: 3%;
  max-width: 700px;
}
.port-screenshot-teaser
{
  cursor: pointer;
  transition: all 0.2s ease-in;
  display: block;
  padding: 20px 60px;
  color: transparent;
  font-size: 18px;
  background-color: transparent;
}
.port-screenshot-teaser:hover
{
  color: $darkGrey;
  background-color: white;
}
#portfolio .white-btn
{
  display: block;
}
/*=================================================
                   MOBILE-SMALL
=================================================*/
@media (min-width: 1px) and (max-width: $mobile-large-break) {

  .macbook-image
  {
    margin-top: 25px;
    width: 97%;
    max-width: 315px;
  }

  .port-image-container {
    height: 200px;
  }
  .port-desc-container
  {
    width: 95%;
    margin-top: 15px;
    > div
    {
      width: 90%;
      min-width: 210px;
      padding: 10px 10px 10px+$arrowsize 10px;
      margin: 0 auto;
      position: relative;
    }
    p
    {
      margin: 10px auto;
     // width: 90%;
      text-align: left;
    }
  }
  .port-screenshot {
    height: 180px;
  }
  .port-link-btn
  {
    max-width: 180px;
    margin-top: 45px;
  }
}
/*=================================================
                   MOBILE-LARGE
=================================================*/

@include respond-to(mobile-large) {
  .port-desc-container p
  {
    text-align: left;
  }
  .port-desc-container > div
  {
    width: 85%;
    padding: 20px 20px 20px+$arrowsize 20px;
    margin: 20px auto 30px auto;
    position: relative;
    @extend .down-arrow;
  }
  .macbook-image
  {
    width: 90%;
    max-width: 560px;
  }
  .port-screenshot {
    height: 330px;
  }

  .port-image-container {
    height: 340px;
  }
  .port-link-btn
  {
    margin-top: 20px;
  }

}
/*=================================================
                    TABLET
=================================================*/
@include respond-to(tablet) {

  .port-screenshot-teaser:hover
  {
    opacity: 1;
  }
  .flex-item {
    width:100%;
  }
  .port-desc-container
  {
    margin: 30px 0;
  }
  .port-desc-container > div
  {
    position: relative;
    background-color: $lightBeige;
    padding: 20px 20px 20px+$arrowsize 20px;
  }

  .macbook-image
  {
    background-size: 100%;
  }

  .port-screenshot {
    height: 400px;
  }
  .port-image-container {
    margin-top: 60px;

    height: 400px;
  }
  .port-link-btn {
    margin-top: 30px;
  }
}
/*=================================================
                    DESKTOP
=================================================*/
@include respond-to(desktop) {

  .port-desc-container
  {
    > div
    {

      min-height: 285px;
      text-align: left;
      width: 80%;
      max-width: 600px;
    }
  }
  .flex-item
  {
    height: $desk-item-h;
    width: 50%;
  }
  .port-screenshot {
    height: 390px;

  }

  .port-desc-container > div
  {
    position: relative;
    background-color: $lightBeige;
  }

  /*   PILEN PÅ DESKTOP TILLSAMMANS MED SKUGGOR! */
  //$arrowsize: 30px;
  .port-desc-container:nth-child(odd) > div
  {
     @extend .shadow-bottom-left;
     @extend .right-arrow;
    padding: 30px 30px+$arrowsize 30px 30px;
    &:after
    {
        top: -1px;
        right: 0;
        border-left: $arrowsize solid $lightGrey;
        border-top: $arrowsize solid transparent;
        content: '';
        position: absolute;
        transform: rotate(180deg);
        height: 50%;
        box-sizing: border-box;
    }
    &:before
    {
      right: 0;
      border-right: $arrowsize solid $lightGrey;
      border-top: $arrowsize solid transparent;
      content: '';
      position: absolute;
      bottom: 0;
      height: 50%;
      box-sizing: border-box;
    }
  }
  .port-desc-container:nth-child(even) > div
  {
    padding: 30px 30px 30px 30px+$arrowsize;
    @extend .shadow-bottom-right;
    &:after
    {
      top: -1px;
      left: 0;
      border-right: $arrowsize solid $lightGrey;
      border-top: $arrowsize solid transparent;
      content: '';
      position: absolute;
      transform: rotate(180deg);
      height: 50%;
      box-sizing: border-box;
    }
    &:before
    {
      left: 0;
      border-left: $arrowsize solid $lightGrey;
      border-top: $arrowsize solid transparent;
      content: '';
      position: absolute;
      bottom: 0;
      height: 50%;
      box-sizing: border-box;
    }
  }
  .port-link-btn {
    margin-top: 0;
  }
}
@include respond-to(not-desktop) {

  .port-desc-container > div
  {
    box-shadow:  0 0 rgba(0,0,0,0.21) !important;
    &:after
    {
      left: 0;
      border-right: $arrowsize solid transparent;
      border-bottom: $arrowsize solid $lightGrey;
      content: '';
      position: absolute;
      bottom: 0;
      width: 50%;
      box-sizing: border-box;
    }
    &:before
    {
      left: 50%;
      border-left: $arrowsize solid transparent;
      border-bottom: $arrowsize solid $lightGrey;
      content: '';
      position: absolute;
      bottom: 0;
      width: 50%;
      box-sizing: border-box;
    }
  }
}