/*=================================================
  PORTFOLIO
 =================================================*/
.port-desc-container
{

  color: $darkGrey;
  > div
  {
    text-align: left;
    min-width: 300px;
    width: 90%;
    max-width: 600px;
  }
}
.port-link-btn
{
  margin: 0 auto;
}


.port-head-container, .port-desc-container, .port-image-container
{
  @extend .flex-center;
}
.port-image-inner
{
  width: 100%;
  position: relative;
}
.macbook-image
{
  margin: 0 auto;
  background: url(../images/macbook-flat.png) center center no-repeat;
  width:80%;
  overflow: hidden;
  background-size: 100%;
  max-width: 700px;
  @extend .flex-center;
}
.port-screenshot
{
  position: relative;
  background: url(../images/ballBusters.jpg) center center no-repeat;
  width:100%;
  background-size: 76.5%;
  //background-size: 68.9%;
  margin-bottom: 3%;
  max-width: 700px;
}

.port-overlay
{
  background: rgba(0,0,0,0.3);
  width:100%;
  background-size: 68.9%;
  margin-bottom: 3%;
  max-width: 700px;
}

/*=================================================
                   MOBILE-SMALL
=================================================*/
@media (min-width: 1px) and (max-width: $mobile-large-break) {

  .macbook-image
  {
    margin-top: 60px;
    width: 97%;
    max-width: 315px;
  }

  .port-image-container {
    height: 200px;
  }
  .port-desc-container
  {
    width: 95%;
    margin-top: 15px;
    > div
    {
      width: 90%;
      min-width: 210px;
      padding: 10px;
      margin: 0 auto;
      position: relative;
    }
    p
    {
      margin: 10px auto;
     // width: 90%;
      text-align: left;
    }
  }
  .port-screenshot {
    height: 180px;
  }
  .port-link-btn
  {
    margin-top: 70px;
  }
}
/*=================================================
                   MOBILE-LARGE
=================================================*/

@include respond-to(mobile-large) {
  .port-desc-container p
  {
    text-align: left;
  }
  .port-desc-container > div
  {
    width: 85%;
    padding: 20px;
    margin: 20px auto 30px auto;
    position: relative;
    @extend .down-arrow;
  }
  .macbook-image
  {
    width: 90%;
    max-width: 560px;
  }
  .port-screenshot {
    height: 330px;
  }

  .port-image-container {
    height: 340px;
  }
  .port-link-btn
  {
    margin-top: 20px;
  }

}
/*=================================================
                    TABLET
=================================================*/
@include respond-to(tablet) {
  .flex-item {
    width:100%;
  }
  .port-desc-container
  {
    margin: 30px 0;
  }
  .port-desc-container > div
  {
    position: relative;
    background-color: $lightBeige;
    padding: 20px;
  }

  .macbook-image
  {
    background-size: 100%;
  }

  .port-screenshot {
    height: 400px;
  }
  .port-image-container {
    margin-top: 60px;

    height: 400px;
  }
  .port-link-btn {
    margin-top: 30px;
  }
}
/*=================================================
                    DESKTOP
=================================================*/
@include respond-to(desktop) {

  .port-desc-container
  {
    > div
    {
      text-align: left;
      width: 80%;
      max-width: 600px;
    }
  }

  .flex-item
  {
    height: $desk-item-h;
    width: 50%;
  }
  .port-screenshot {
    height: 390px;
  }
  .port-desc-container > div
  {
    position: relative;
    background-color: $lightBeige;
    padding: 30px;
  }
  .port-desc-container:nth-child(odd) > div
  {
     @extend .right-arrow;
  }
  .port-desc-container:nth-child(even) > div
  {
    @extend .left-arrow;
  }
  .port-link-btn {
    margin-top: 0px;
  }
}
.port-link-btn
{
  z-index: 9999;
}



