$big-venn-circle:260px;
$small-venn-circle: 160px;

.venn-container
{
 // display: none;
  height: 435px;
  width: 410px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
}
.venn-circle
{
  border-radius: 50%;
  position: absolute;
}
.venn-circle:hover
{
  border: 2px dashed white;
}

.ux-circle
{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.front-end-circle
{
  width: $big-venn-circle;
  height: $big-venn-circle;
  right: 0;
  bottom: 0;
}
.design-circle
{
  width: 150px;
  height: 150px;
  left: 0;
  bottom: 0;
}
.venn-info
{
  border-radius: 8%;
  visibility: hidden;
  @extend .flex-center;
  @extend .fast-trans;
  left: 0;
  top: 20%;
  right: 0;
  margin: 0 auto;
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: $transGrey;
  color: white;
}
.venn-circle:hover
{

}
.venn-container:hover
{

  .venn-info
  {
    @extend .flex-center;
    visibility: visible;
  }
  .venn-circle
  {
    @extend .rotating;
  }
}




/*================================================
 =================================================
 **************************************************
                SKILLBARS!
 *************************************************
 =================================================
 =================================================*/


.skill-container
{
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
}
.skill-meter
{
  color: white;
  @extend .flex-center;
}
.skill-label, .skill-bar
{
 vertical-align: top;
}

.skill-meter-container
{
  width: 0;
  transition: width 0.8s ease-in-out;
}

.skillContainer
{
  text-align: left !important;
}
.inner-skill-container
{
  margin: 45px auto;
}
.skill-meter
{
  transition: all 0.6s ease;
}
.skill-label
{
  margin-left: 15px;
  width: 160px;
}
.skill-label div
{
  font-size: 20px;
}
.skill-bar
{
  cursor: pointer;
  height: $skill-bar-height;
  @extend .light-striped-background;

}
.skill-meter
{
  height: $skill-bar-height;
  background-color: $green;
}
.skillCounter
{
  transition: all 0.3s ease;
  opacity: 0;
}
.skill-bar:hover
{

.skill-meter
{
  background-color: darken($green,10%);
}
  .skillCounter
  {
    opacity: 1;
  }
}
@include respond-to(mobile-small) {
  .inner-skill-container
  {
    margin: 25px auto;
    text-align: center;
  }
  .skill-label
  {
    margin: 0 auto 14px auto;
    text-align: center;
  }
  .skill-label div
  {
    margin-top: 2px;
  }
  .skill-bar
  {
    width: 90%;
  }
}
@include respond-to(mobile-large) {
  .inner-skill-container
  {
    margin: 25px auto;
    text-align: center;
  }
  .skill-label
  {
    margin: 0 auto 14px auto;
  }
  .skill-label div
  {
    font-size: 16px;
    margin-top: 2px;
  }
  .skill-bar
  {
    width: 90%;
  }

}
@include respond-to(tablet) {
  .skill-label {
    margin-left: 25px;
  }
  .skill-bar {
     margin-left: 10px;
     width: 65%;
   }
}
@include respond-to(desktop) {
  .skill-bar {
    margin-left: 10px;
    width: 600px;
  }
}
