@import "variables";
@import "helpers";

::-webkit-scrollbar {
  width: 8px;
  background: $darkGrey;
}
::-webkit-scrollbar-thumb {
  background: $darkBlue;
}

/*=================================================
 TEXT-ALIGNMENT
 =================================================*/

@media (min-width: 767px) {

  .large-device-left-text
  {
 // text-align: left;
  }
  .large-device-right-text
  {
   // text-align: right;

  }

}





/*=================================================
  SECTION GENERELLA REGLER
 =================================================*/
.section-header
{
  text-align: center;
  color: $darkGrey;
  margin: 0;
  font-size: 35px;
  font-weight: 400;
  padding: 40px 0 0 0;
}
.section-light-grey
{
  background-color: $lightGrey;


}

.arrow-hole
{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #e5e3e0;
}
.arrow-hole:after
{
  left: 50%;
  border-bottom: 20px solid #e5e3e0;
  border-left: 20px solid transparent;
  content: '';
  position: absolute;
  bottom: 100%;
  width: 50%;
  box-sizing: border-box;
}
.arrow-hole:before
{
  right: 50%;
  border-bottom: 20px solid #e5e3e0;
  border-right: 20px solid transparent;
  content: '';
  position: absolute;
  bottom: 100%;
  width: 50%;
  box-sizing: border-box;
}





/*=================================================
  NAV BAR-LÄNKAR!
 =================================================*/
.nav-container {
  z-index: 999;
  a {
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    text-decoration: none;
    position: relative;
  }
  a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -3px;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
  }
  a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  a:hover {
    color: darken(white, 10%);
  }
}


/*=================================================
 GUTTER GRIDS!
 =================================================*/
.row
{
  width: 100%;
}
.row:after
{
  clear: both;
}
[class*="col"] {
  float: left;
}
.gtr-row:before,
.gtr-row:after {
  content: " "; /* 1 */
  display: block; /* 2 */
}
.gtr-row:after {
  clear: both;
}
.gtr-row {
  *zoom: 1;
}

.gtr{
  background:white;
  > div{
    font-size: 14px;
    background:$darkBlue;
    color: $beige;
  }
}
/*=================================================
 KNAPPAR!
 =================================================*/
.btn
{
 // display: inline-block;
  margin: 20px auto;
  cursor: pointer;
  height: 50px;
  width: 250px;
  @extend .flex-center;
  @extend .medium-trans;
}

.light-btn
{
  border: 1px solid $darkGrey;
  color: $darkGrey;
}
.light-btn:hover {
  background-color: $darkGrey;
  color: $lightGrey;
}
.dark-btn
{
  background-color: $darkGrey;
  border: 1px solid $darkGrey;
  color: $lightGrey;
}
.dark-btn:hover {
  background-color: transparent;
  color: $darkGrey;
}

/*=================================================
 PORTFOLIO FLEX!
 =================================================*/

.flex-row {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
}

.flex-item {
  // color: white;
  text-align: center;
  width: 50%;
  flex-flow: row wrap;
  flex-direction: column;
}


@media (min-width:1px) and (max-width: 767px) {
  .flex-item {
    flex: 1 100%;
  }
  .port-desc-container { order: 1; }
  .port-image-container    { order: 2; }
 /* .port-line-divider { order: 4; }
  .port-link-btn {order: 3;}*/
}

/*=================================================
 ARROWS!
 =================================================*/
.left-arrow {
  position: relative;
  background: #12181c;
  border: 1px solid #c2e1f5;
}
.left-arrow:after, .left-arrow:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.left-arrow:after {
  border-color: rgba(18, 24, 28, 0);
  border-right-color: #12181c;
  border-width: 30px;
  margin-top: -30px;
}
.left-arrow:before {
  border-color: rgba(194, 225, 245, 0);
  //border-right-color: #c2e1f5;
  border-width: 31px;
  margin-top: -31px;
}


.right-arrow {
  position: relative;

}
.right-arrow:after, .right-arrow:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.right-arrow:after {
  border-color: rgba(18, 24, 28, 0);
  border-right-color: #12181c;
  border-width: 30px;
  margin-top: -30px;
}
.right-arrow:before {
  border-color: rgba(194, 225, 245, 0);
  //border-right-color: #c2e1f5;
  border-width: 31px;
  margin-top: -31px;
}







/*=================================================
 VIEWPORT INFO!
 =================================================*/
.device-info-container
{
  @extend .flex-center;
  font-size: 14px;
  color: white;
  background-color: $darkGrey;
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0;
}

/*=================================================
 FLIP - RELATED
 =================================================*/

.flip-parent
{
  position: relative;
  perspective: 1200px;
  vertical-align: baseline;
  margin-bottom: -0px;
}
.flip
{
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  /* transform-origin: center bottom; */
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  scale:(1);
  //top: 0;
  //left: 0;
  transform:  translateY(0px);
  @extend .flex-center;

}
.flip:before {
  //position: absolute;
  width: 100%;
  text-align: center;
  top: 20px;
  z-index: 2;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #6a7083;
}

